dev_tools/
dev_tools.zip
build/
dist/
*.pyc
.vscode/
.idea/
.DS_Store
*.jks
logs/
.antigravity/
Truffle/app/src/dev
local.properties
.gradle/
*.apk
/Truffle/app/build/
/Truffle/build/
*.bin
*.lock
sigma-rust
android_patches
.antigravity
